.item-extra-details{
    display: flex;    
    flex: 1;
    gap: 10px;
}
.extra-details-image{
    width: 60%;
}
.extra-details-image img{
    width: 100%;
    height: 500px;
}
.more-details-container{
    margin: 30px;
    margin-bottom: 500px;
}
.more-details-title{
    background-color: rgb(252, 250, 250);
}
.extra-details{
    background-color: rgb(212, 212, 212);
    width: 40%;
}
.extra-details h4{
    padding-top: 40px;
    
}